/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.header .material-icons{
  font-size: 80px;
  float: right;
}
.material-icons{
  font-size: 50px;
  float: left;
  color: #1e88e5;
}
.alignements{
  display: flex;
  align-items: center;
}
.alignements .material-icons{
  font-size: 70px;
  float: left;
}
.couleur .material-icons{
  color: white;
}